@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;600&display=swap');

body {

    
}

.overall-wrapper {
    background: white;
}

.big-title {
    font-weight: 800;
    font-size: 48px;
}

h1, h2, h4 {
    /* font-family: 'Work Sans', sans-serif; */
    font-family: 'Hind Madurai', sans-serif;
    font-weight: 300;
}

h3 {
    font-family: 'Hind Madurai', sans-serif;
    font-weight: 600;

}

p {
    /* font-family: 'Metal Mania', cursive; */
    font-family: 'Lato', sans-serif;
}

span {
    font-weight: 800;
}

textarea, textarea[type=text]  {
    resize: none;
    font-family: 'Lato', sans-serif;

}

input {
    line-height: 2em;
}

.form-wrapper {
    display: flex;
    flex-direction: column;

    padding: 2% 10%;
    margin:3% 15%;
    box-shadow: 1px 1px 20px #888 , 1px 1px 20px #888 , 1px 1px 20px #888  inset;

    
}
.label-fields {
    font-family: 'Lato', sans-serif;

    padding: 2vh 0;
    flex: 1;

    display: flex;
    justify-content: center;
    flex-direction: column;

}
.hide {
    display:none;
}


.overall-wrapper {
    box-shadow: 1px 1px 20px #888 , 1px 1px 20px #888 , 1px 1px 20px #888  inset;

    padding: 3.5%;

    margin:5%;
}

.player-main {
    display: flex;
    flex-direction:row;  
    flex-wrap: wrap;
}

.player-main-data {
    flex:0 0 auto;
    padding-right: 5em;
}

.middle-section { 
    width:100%;
    height:100%;
    display:flex;
    flex-direction:row;  
    flex-wrap: wrap;
}

.player-meta {
    flex: 0 0 auto; 
    

}
.player-review{
    page-break-before: always;
}
.player-stats {
    flex: 1 0 auto;
    min-width: 0;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.footer-item{
padding:  2vh;}