@import url( 'https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');
@import url( 'https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url( 'https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
@import url( 'https://fonts.googleapis.com/css2?family=Hind:wght@300;600;700&display=swap');
@import url( 'https://fonts.googleapis.com/css2?family=Modak&display=swap');
@import url( 'https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url( 'https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url( 'https://fonts.googleapis.com/css2?family=Dosis:wght@800&display=swap');
@import url( 'https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url( 'https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
@import url( 'https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
    font-family: 'IBM Plex Sans', sans-serif;

    background-color: #f5f5f5;

}
/*global css*/
/* -------- */

.app-container {
    padding-top: 5%;
}

h1,
h2,
h4 {}

h3 {
    font-weight: 200;
}

p {
    /* font-weight: 100; */
}

span {}

textarea,
textarea[type=text] {
    resize: none;

}

input {
    line-height: 2em;
}

/*header.js css*/
/* ----------- */
header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 300;
    width: 100%;
    height: 64px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    background-color: #f5f5f5;
    transition: 0.5s;

}

header NavLink {
    padding: 7%;
    font-family: 'IBM Plex Sans', sans-serif;
    text-decoration: none;

}

header.scrolled {
    background-color: #000;
    height: 72px;
}

header h1,
header nav {
    flex: 1;
}

header nav {
    text-align: right;
    margin-right: 7%;
}
header a,
header a:visited {
    margin: 0 0 0 16px;
    font-family: 'IBM Plex Sans', sans-serif;
    text-decoration: none;
    color: black;
}
.big-title,
.big-title:visited {
    margin-left: 7%;
    font-weight: 200;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    color: black;
}

/*admin.js css*/
/* ---------- */
.admin-wrapper {
    display: flex;
    flex-direction: column;
    padding: 2% 10%;
    margin: 3% 15%;
    box-shadow: 1px 1px 20px #888 , 1px 1px 20px #888 , 1px 1px 20px #888 inset;

}
.label-fields {
    padding: 2vh 0;
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/*post.js css*/
/* --------- */

.LinesEllipsis,
.LinesEllipsis--clamped {
    margin: -2%;
}
.overall-wrapper {
    white-space: pre-wrap;
    box-shadow: 1px 1px 10px #888 , 1px 1px 10px #888 , 1px 1px 10px #888 inset;
    padding: 2%;
    margin: 2% 7% 4%;
    display: flex;
    background-color: #f9f9f9;
}

.image-container {
    flex: 1;

}
.border-right{
    border-right: solid #888 1px;
    height: 100%;
}

.background-image {

    height: 100%;
    max-height: 339px;
    min-width: 285px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    position: relative;
    text-transform: uppercase;
    line-height: normal!important;
    display: flex;

}

.player-image {
    z-index: 9;
    height: 69%;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 45px;
    left: 0;
    right: 0;
    text-align: center;
}

.player-rating-overall {
    font-weight: 700;
    font-size: 12px;

    z-index: 14;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 100px;
    text-align: center;
    top: 45px;
    font-weight: 700;
    font-size: 30px;
}

.player-position-card {
    font-weight: 700;
    font-size: 12px;
    z-index: 14;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 100px;
    text-align: center;
    top: 75px;
    font-weight: 700;
    font-size: 20px;
}

.player-club {
    background-repeat: no-repeat;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 100px;
    top: 130px;
    width: 10%;
    height: auto;

    overflow: hidden;
    z-index: 11;
}
.player-club img {
    width: 100%;
    height: auto;
}
.player-country {
    background-repeat: no-repeat;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 100px;
    top: 105px;
    width: 10%;
    height: auto;

    overflow: hidden;
    z-index: 11;
}
.player-country img {
    width: 100%;
    height: auto;
}

.player-name-card {
    z-index: 14;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    top: 190px;
    font-weight: 700;
    font-size: 20px;
}

.player-rating-overall {
    font-weight: 700;
    font-size: 12px;

    z-index: 14;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 100px;
    text-align: center;
    top: 45px;
    font-weight: 700;
    font-size: 30px;
}

.player-position-card {
    font-weight: 700;
    font-size: 12px;

    z-index: 14;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 100px;
    text-align: center;
    top: 75px;
    font-weight: 700;
    font-size: 20px;
}

.card-20-headeroverlay {
    text-align: left;
    font-size: 14px;
    color: #000;
    font-weight: 400;
    text-transform: uppercase;
    line-height: normal!important;
    box-sizing: border-box;
    -webkit-transition: all 0.3s linear;
    width: 45px;
    height: 222px;
    position: absolute;
    left: 24%;
    top: 19px;
    opacity: 0.7;
    z-index: 10;
    background: linear-gradient(to bottom,rgba(234,246,229,0) 8%,rgba(234,246,229,1) 29%,rgba(234,246,229,1) 50%,rgba(234,246,229,1) 81%,rgba(234,246,229,0) 100%);
    display: block;
}

.image-icon {
    width: 20px;
}

.player-data-wrapper {
    flex: 3;
    padding: 2%;
}

.player-name {
    text-align: left;
    color: black;
    text-transform: uppercase;

}

.player-name-title {
    font-weight: 100;
}

.player-summary {
    max-width: 800px;
    margin-top: -2%;
    padding-top: 1%;
    word-spacing: 0.5em;
    font-weight: 200;
    border-top: solid 1px black;
}

.player-main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-top: 2px grey dashed;
    padding: 1%;
    margin-top: 3.5%;
    font-weight: 100;
}

.player-main-data {
    flex: 0 0 auto;
    padding-right: 5em;
    font-weight: 100;
}

.middle-section {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */

}

.player-meta {
    flex: 0 0 auto;

}
.player-review {
    page-break-before: always;
}

.stats-flex {
    display: flex;
    flex-direction: row;
}

.stats-child-flex {
    flex: 1;
}

.player-stats-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 1;
}

.player-stats {
    font-size: 1vw;
    font-weight: 100;
    line-height: 1.2vw;
    flex: 1 0 auto;
    min-width: 0;
    text-align: center;
    border-left: dashed 1px black;
    flex-grow: 1;
    width: 33%;
}

.player-stats h3 {
    font-weight: 300;
}
.player-stats:nth-child(even) {
    background-color: #f5f5f5;
}
.player-stats:nth-child(odd) {
    background-color: rgba(232, 232, 232, 0.6);
}

.player-stats-column {}

.hide {
    display: none;
}

.bold {
    font-weight: 400;
}

/*footer.js css*/
/* --------- */
.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.footer-item {
    padding: 2vh;
}
