@import url( 'https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');
@import url( 'https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url( 'https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
@import url( 'https://fonts.googleapis.com/css2?family=Hind:wght@300;600;700&display=swap');
@import url( 'https://fonts.googleapis.com/css2?family=Modak&display=swap');
@import url( 'https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url( 'https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url( 'https://fonts.googleapis.com/css2?family=Dosis:wght@800&display=swap');
@import url( 'https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url( 'https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
@import url( 'https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
    font-family: 'IBM Plex Sans', sans-serif;

    background-color: #ffffff;
    

}
/*global css*/
/* -------- */
h1,
h2,
h4 {
    }

h3 {
    font-weight: 200;
}

p {
    /* font-weight: 100; */
}

span {}

textarea,
textarea[type=text] {
    resize: none;

}

input {
    line-height: 2em;
}

/*header.js css*/
/* ----------- */
.header-wrapper {

    margin: 0 5%;
    padding: 2vh 5%;
    max-width: 100%;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-p {
    font-size: 14px;
    background-color:white;
}
.big-title,
.big-title:visited {

    font-weight: 200;
    text-decoration: none;
    flex: 1;
    text-align: center;
    font-weight: bold;
    font-size: 24px;

    color: black;
}

/*admin.js css*/
/* ---------- */
.admin-wrapper {
    display: flex;
    flex-direction: column;
    padding: 2% 10%;
    margin: 3% 15%;
    box-shadow: 1px 1px 20px #888 , 1px 1px 20px #888 , 1px 1px 20px #888 inset;

}
.label-fields {
    padding: 2vh 0;
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/*post.js css*/
/* --------- */

.LinesEllipsis,
.LinesEllipsis--clamped {
    margin: -2%;
}
.overall-wrapper {
    white-space: pre-wrap;
    box-shadow: 1px 1px 10px #888 , 1px 1px 10px #888 , 1px 1px 10px #888 inset;
    padding: 2%;
    margin: 2% 7% 4%;
    display: flex;
    background-color: #F5F5F5;
}

.image-container{
    flex: 1;
    /* height:100%; */

}

.image-wrapper {
    border-right: solid #888 1px;
    height: 100%;
}

.background-image {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    position: relative;
    text-transform: uppercase;
    line-height: normal!important;
}

.player-image {
    position: absolute;
    top: 15%;
    overflow: hidden;
    right: 20%;
    height: 187px;
    z-index: 9;
}

.player-club {
    background-repeat: no-repeat;
    position: absolute;
    width: 10%;
    height: auto;
    overflow: hidden;
    top: 40%;
    left: 25%;
    z-index: 11;
}
.player-club img {
    width: 100%;
    height: auto;
}
.player-country {
    background-repeat: no-repeat;
    position: absolute;
    width: 10%;
    height: auto;
    overflow: hidden;
    top: 30%;
    left: 26%;
    z-index: 12;
}
.player-country img {
    width: 100%;
    height: auto;
}

.player-name-card {
    z-index: 14;
    position: absolute;
    height: auto;
    font-weight: 700;
    font-size: 16px;
    left: 40%;
    top: 55%;
    align-items: center;
}

.player-rating-overall {
    z-index: 14;
    position: absolute;
    height: auto;
    font-size: 16px;
    top: 12%;
    left: 26%;
}

.player-position-card {
    z-index: 14;
    position: absolute;
    height: auto;
    font-size: 14px;
    top: 20%;
    left: 26%;
}

.card-20-headeroverlay {
    text-align: left;
    font-size: 14px;
    color: #000;
    font-weight: 400;
    text-transform: uppercase;
    line-height: normal!important;
    box-sizing: border-box;
    -webkit-transition: all 0.3s linear;
    width: 45px;
    height: 222px;
    position: absolute;
    left: 24%;
    top: 19px;
    opacity: 0.7;
    z-index: 10;
    background: linear-gradient(to bottom,rgba(234,246,229,0) 8%,rgba(234,246,229,1) 29%,rgba(234,246,229,1) 50%,rgba(234,246,229,1) 81%,rgba(234,246,229,0) 100%);
    display: block;
}

.image-icon {
    width: 20px;
}

.player-data-wrapper {
    flex: 3;
    padding: 2%;
}

.player-name {
    text-align: left;
    color: black;
    text-transform: uppercase;

}

.player-name-title {
    font-weight: 200;
}

.player-summary {
    margin-top: -2%;
    word-spacing: 0.5em;
    font-weight: 0;
}

.player-main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-top: 2px grey dashed;
    padding: 1%;
    margin-top: 3.5%;
    font-weight: 100;
}

.player-main-data {
    flex: 0 0 auto;
    padding-right: 5em;
    font-weight: 100;
}

.middle-section {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */

}

.player-meta {
    flex: 0 0 auto;

}
.player-review {
    page-break-before: always;
}

.stats-flex {
    display: flex;
    flex-direction: row;
}

.stats-child-flex {
    flex: 1;
}

.player-stats-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 1;
}


.player-stats {
    font-weight: 100;
    line-height: 1.2vh;
    flex: 1 0 auto;
    min-width: 0;
    text-align: center;
    border-left: dashed 1px black;
    flex-grow: 1;
    width: 33%;
}

.player-stats h3 {
    font-weight: 300;
}

.player-stats:nth-child(even) {
    background-color: #f5f5f5;
}

.player-stats:nth-child(odd) {
    background-color: rgba(232, 232, 232, 0.6);
}

.player-stats-column {

}

.hide {
    display: none;
}

.bold {
    font-weight: 300;
}

/*footer.js css*/
/* --------- */
.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.footer-item {
    padding: 2vh;
}
